@{
    ViewData["Title"] = "Examples";
}

<div class="row">
    <div class="col-md-6">
        <h2>Low level DbContext</h2>
        <ul>
            <li>
                <a asp-controller="DbContext" asp-action="NewestContent">Newest Content</a>
            </li>
        </ul>
    </div>
</div>
