<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ULabs.VBulletinEntityDemo</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm sticky-top">
        <h5 class="my-0 mr-md-auto font-weight-normal">ULabs.VBulletinEntityDemo</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a asp-controller="Home" asp-action="Index" class="p-2 text-dark">Newest Content (DbContext)</a>
            <a asp-controller="Settings" asp-action="Index" class="p-2 text-dark">Common Settings</a>
            <a asp-controller="User" asp-action="Session" class="p-2 text-dark">Current Session check</a>
        </nav>
        @*<a class="btn btn-outline-primary" href="#">Sign up</a>*@
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ULabs.VBulletinEntityDemo</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
